<!DOCTYPE html>
<html>
<head>
  <title>Activeadmin materialize theme</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "activeadmin_materialize_theme/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
